<!DOCTYPE html>
<html>
<head>
  <title>Online linter (op-desafios)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

  <!-- Ace -->
  <style type="text/css" media="screen">
    .inner {
        height: 400px;
        font: 14px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', 'monospace';
    }
  </style>
</head>


<body>
  <div class="container">
    <div class="title border-bottom mb-3 mt-3">
      <div class="row align-items-center">
        <div class="col-md-11">
          <h1>Online Linter (op-desafios)</h1>
        </div>
        <div class="col-md-1 text-end">
          <span class="material-symbols-outlined text-end" data-bs-toggle="modal" data-bs-target="#settingsModal">
            settings
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label for="languageSelect">Selecione a Linguagem</label>
        <select class="form-control" id="languageSelect">
          {{range .Languages}}<option>{{.}}</option>{{end}}
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12" id="editorContainer">
        <div class="inner" id="editor"></div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary" style="margin-top:10px;" onclick="lint(); return false">Submit</button>
        <!-- note: return false after the function call above is needed to avoid a refresh -->
      </div>
    </div>

    <!-- results -->
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="alert alert-success col-md-12" id="results_ok" style="display:none;"></div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="alert alert-danger  col-md-12" id="results_bad" style="display:none;"></div>
      </div>
    </div>
  </div>

  <!-- Settings modal -->
  <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="settingsModalLabel">Configurações</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Toggle show tabs & spaces -->
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchInvisibleChars">
            <label class="form-check-label" for="flexSwitchInvisibleChars">Mostra tabs e espaços</label>
          </div>
          <!-- Toggle dark editor background -->
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchDarkEditor">
            <label class="form-check-label" for="flexSwitchDarkEditor">Editor com fundo escuro</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <script>
    var editor = ace.edit("editor");
    editor.getSession().setUseWorker(false);
    editor.setTheme("ace/theme/solarized_light");
    editor.getSession().setMode("ace/mode/golang");
    editor.setOptions({
      printMargin: false
    });

    // Settings: Show invisible characters on editor.
    const settingsInvisibleChars = document.getElementById("flexSwitchInvisibleChars");
    settingsInvisibleChars.onclick = () => {
      editor.setOption('showInvisibles', settingsInvisibleChars.checked);
    }

    // Settings: Dark editor theme.
    const settingsDarkEditor = document.getElementById("flexSwitchDarkEditor");
    settingsDarkEditor.onclick = () => {
      if (settingsDarkEditor.checked) {
        editor.setTheme("ace/theme/monokai");
      } else {
        editor.setTheme("ace/theme/solarized_light");
      }
    }

    function lint() {
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "{{.LintPath}}", true);

      xhttp.onreadystatechange = function() {
        if (this.readyState == 4) {
          if (this.status == 200) {
            var res = JSON.parse(this.responseText);

            if (res.Pass == true) {
              eid = "results_ok";
              msg = "No errors found!";
            } else {
              eid = "results_bad";
              msg = res.ErrorMessages.join("<br>");
            }
          }
          else {
            eid = "results_bad";
            msg = "Request failed: " + this.responseText;
          }

          document.getElementById("results_ok").style.display = "none";
          document.getElementById("results_bad").style.display = "none";
          document.getElementById(eid).style.display = "block";
          document.getElementById(eid).innerHTML = msg;
        }
      };

      // Send
      let programText64 = encodeURIComponent(editor.getValue());
      let lang = document.getElementById("languageSelect").value;
      let req = JSON.stringify({"lang": lang, "text": programText64});

      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(req)
    }
  </script>
</body>
</html>
<!-- vim: filetype=html
-->
